.contact {
    background-image: var(--second-gradient);
}

.contact__container {
    grid-template-columns: 5fr 7fr;
}



.contact__card {
    position: relative;
    margin-bottom: 40px;
    padding-left: 100px;
}

.contact__card-icon,
.contact__form-input {
    border: 2px solid var(--border-color);
    background-color: var(--container-color);
}

.contact__card-icon {
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    font-size: var(--larger-font-size);
}

.contact__card-icon::after {
    content: '';
    position: absolute;
    background-color: var(--border-color);
    left: 100%;
    top: 50%;
    width: 30px;
    height: 2px;
}

.contact__card-title {
    font-size: var(--h2-font-size);
    font-family: var(--secondary-font);
    padding: 6px 0;
}

.animate-fade-in-up {
    animation: fade-in-up 1s ease-in-out;
}

@keyframes fade-in-up {

    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    100% {
        opacity: 1;
    }

}


.contact__form-group {
    grid-template-columns: repeat(2, 1fr);
}

.contact__form-div {
    display: grid;
    row-gap: 10px;
    margin-bottom: 30px;
}

.contact__form-tag {
    margin-left: 30px;
    font-size: var(--smaller-font-size);
    font-weight: 700;
    line-height: 1.7;
    cursor: pointer;
}

.contact__form-tag b {
    color: var(--primary-color);
}

.contact__form-input {
    color: var(--title-color);
    height: 60px;
    border-radius: 30px;
    padding: 0 30px;
}

.contact__form-area .contact__form-input {
    height: 140px;
    padding-block: 20px;
    resize: none;
}

.contact__submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
    .contact__container {

        grid-template-columns: 1fr 1fr;

    }

    .contact__form-group {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__form-div:nth-child(1) {
        margin-bottom: 6px;
    }

}

@media screen and (max-width: 600px) {
    .contact__container {

        grid-template-columns: repeat(1, 1fr);

    }

    .contact__form-group {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact__form-div:nth-child(1) {
        margin-bottom: 6px;
    }

}